<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageRestore>
		<add key="enabled" value="True" />
		<add key="automatic" value="True" />
	</packageRestore>
	<packageSources>
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
		<add key="TravelAgencyFeed" value="https://pkgs.dev.azure.com/mlynarczyk98/bd765873-3ab9-4555-aeee-46c9e712846c/_packaging/TravelAgencyFeed/nuget/v3/index.json" />
	</packageSources>
	<packageSourceCredentials>
		<TravelAgencyFeed>
			<add key="Username" value="{username}" />
			<add key="ClearTextPassword" value="{password}" />
		</TravelAgencyFeed>
	</packageSourceCredentials>
</configuration>